/* Singular Responsive CSS */
@media screen and (max-width:1799px) {
	.top-banner-bg {
		background-position: 50% 0;
	}
}

@media screen and (max-width:1399px) {
	.red-box-info {
		background-size: 550px auto;
	}	
}

@media screen and (max-width:1099px) {
	.singular-section-title h2 {
		font-size: 45px;
	}
	h1 {
		font-size: 60px;
		line-height: 70px;
	}
	.singular-banner h2 {
		font-size: 44px;
	}
	.red-box-info {
		padding: 70px;
	}
	.red-box-info h4 {
		font-size: 50px;
		line-height: 56px;
	}
	.integrations-block .logo-wrap a {
		height: auto;
		padding: 30px 20px;
	}
	.knowledge-base-block .academy-box {
		height: 200px;
	}
}

@media screen and (max-width:991px) {
	header {
		padding: 20px 40px;
	}
	.red-box-info {
		background-image: none;
	}
	.singular-image-wrap {
		text-align: center;
	}
	form button {
		position: static;
		width: 100%;
		background: #000;
		padding: 12px 20px;
		height: 72px;
		border-radius: 5px;
		margin-top: 15px;
	}
	form button img {
		display: none;
	}
	.red-box-info form button span {
		font-size: 20px;
		font-weight: 600;
	}
	footer [class*="col-"] {
		-ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    max-width: 33.333%;
    padding-bottom: 30px;
	}
	.integrations-block [class*="col-"] {
		-ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    max-width: 33.333%;
	}
	.integrations-block form button {
		position: absolute;
		width: auto;
		background: none;
		margin-top: 0;
		height: auto;
		padding: 6px 0;
	}
	.integrations-block form button img {
		display: block;
	}
	 br {
	 	display: none;
	 }
	 .singular-brands-reach.explore-new-brands [class*="col-"] {
	 	padding-bottom: 30px;
	 }
	 .custom-plan-box .bordered-box .btn {
	 	margin-top: 30px;
	 }
	 .singular-left-arrow img, .singular-right-arrow img {
		width: 250px;
	}
	.singular-banner {
		padding-bottom: 150px;
	}
	.singular-right-arrow {
		bottom: 220px;
	}
	.custom-plan-box .bordered-box .btn {
		float: left;
	}
	.explore-new-brands {
		padding: 100px 0 50px;
	}
	.explore-new-brands3 .row [class*="col-"]:last-child .singular-box-info {
		margin-top: 100px;
	}
	.singular-simple-pricing .row .col-lg-6:last-child .bordered-box {
		margin-top: 80px;
	}
	.knowledge-base-block .academy-box {
		height: 160px;
	}
	nav .user-login {
		margin-top: -12px;
	}
	.navbar .navbar-nav li.user-login a.dropdown-toggle {
		padding: 8px 0;
		width: 44px;
		height: 44px;
	}
	nav .user-login span {
		right: 0;
	}
}

@media screen and (max-width:767px) {
	header {
		padding: 20px 30px;
	}
	.navbar-nav {
	position: fixed;
	top: 80px;
	left: 0;
	width: 100%;
	z-index: 11;
	border-top: 1px solid #E5E5E5;
	-webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
	}
	.show .navbar-nav {
		max-height: 100%;
		opacity: 1;
	}
	.navbar-nav li {
		padding: 0;
	}
	.navbar-nav li a.nav-link {
		padding: 10px 40px;
	}
	.singular-our-team [class*="col-"], .integrations-block .knowledge-base-block [class*="col-"] {
		-ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
	}
	footer [class*="col-"] {
		-ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
	}
	.singular-trusted-industry, .singular-simple-philosophy, .singular-our-team, .singular-academy-listing, .singular-banner, .singular-explore-brands, section.explore-new-brands3, .singular-industry-leaders {
		padding: 80px 0;
	}
	section.explore-new-brands {
		padding: 80px 0 0;
	}
	.singular-academy-listing {
		padding-bottom: 0;
	}
	.singular-contact-us .container {
		padding: 80px 40px;
	}
	.singular-join-maillist {
		padding: 0 0 80px;
	}
	footer {
		padding: 80px 0 30px;
	}
	.singular-copyright {
		border-top: none;
		padding-top: 0;
	}
	.navbar-nav {
		height: 100%;
		background: #ffffff;
	}

	footer h6 {
		border-bottom: 1px solid #000000;
		margin-bottom: 30px;
		padding-bottom: 15px;
		cursor: pointer;
		position: relative;		
	}
	footer h6:before {
		position: absolute;
		top: 10px;
		right: 8px;
		width: 12px;
		height: 2px;
		z-index: 1;
		background: #000000;
		content: "";
		transform: rotate(40deg);
		transition: all ease .2s;
	}
	footer h6:after {
		position: absolute;
		top: 10px;
		right: 0;
		width: 12px;
		height: 2px;
		z-index: 1;
		background: #000000;
		content: "";
		transform: rotate(-45deg);
		transition: all ease .2s;
	}
	footer ul {
		display: none;
		margin-top: 25px;
		margin-bottom: 0;
	}
	footer ul li a {
		color: #000000;
		font-size: 14px;
	}
	footer p {
		padding-bottom: 30px;
	}
	footer .block-menu h6:after {
		transform: rotate(-130deg);
	}
	footer .block-menu h6:before {
		transform: rotate(133deg);
		right: 8px;
	}
	.custom-plan-box .bordered-box {
		padding: 50px 30px;
	}
	.singular-simple-pricing .btn, .join-great-compaines .custom-plan-box .bordered-box .btn {
		float: left;
		min-width: 155px;
		font-size: 24px;
		padding: 8px 20px;
		margin-top: 30px;
	}
	.join-great-compaines {
		padding-bottom: 50px;
	}
	.inner-banner .singular-table-wrap {
		width: 100%;
	} 
	h1 {
		font-size: 40px;
    line-height: 50px;
	}
	.singular-banner p {
		font-size: 24px;
		line-height: 37px;
	}
	.singular-banner .btn {
		min-width: inherit;
	}
	.singular-section-title h2 {
		font-size: 35px;
		line-height: 50px;
	}
	.singular-video-wrap img {
		width: 350px;
	}
	.singular-video-wrap .play-icon img {
		width: auto;
	}
	.singular-brands-reach.explore-new-brands .col-lg-6 [class*="col-"] {
		-ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    max-width: 33.333%;

	}
	.explore-new-brands3 .row [class*="col-"]:last-child .singular-box-info {
		margin-top: 40px;
		border-radius: 6px;
	}
	.singular-banner .btn-border {
		display: none;
	}
	.singular-center-wrap {
		padding: 0;
	}
	.singular-brands-reach {
		padding: 300px 0 80px;
	}
/*	.singular-left-arrow {
		left: 0;
	}
	.singular-right-arrow {
		right: 0;
	}*/
	.singular-left-arrow img, .singular-right-arrow img {
		width: 150px;
	}
	.navbar-nav li {
		border-bottom: 1px solid #E5E5E5;
	}
	nav .user-login {
		margin-top: 0;
	}
	nav .user-login a span {
		display: none;
	}
	nav .user-login a img {
		width: 35px;
	}
	.navbar-nav .user-login:before {
		position: absolute;
		top: 26px;
		right: 48px;
		width: 12px;
		height: 2px;
		background: #000000;
		content: "";
		transform: rotate(40deg);
		transition: all ease .2s;
	}
	.navbar-nav .user-login:after {
		position: absolute;
		top: 26px;
		right: 40px;
		width: 12px;
		height: 2px;
		background: #000000;
		content: "";
		transform: rotate(-45deg);
		transition: all ease .2s;
	}
	.dropdown-menu {
		box-shadow: none;
	}
	.dropdown-menu a.dropdown-item {
		padding: 10px 40px;
		font-size: 14px;
	}
	.dropdown-menu a.dropdown-item img {
		width: 18px;
	}
	.navbar-nav .user-login.show:after {
		transform: rotate(-130deg);
	}
	.navbar-nav .user-login.show:before {
		transform: rotate(133deg);
	}
	body.overflow {
		overflow: hidden;
	}
	.singular-section-title a {
		font-size: 17px;
	}	
	.integrations-block {
		padding: 0 0 80px;
	}
	.navbar .navbar-nav li .btn {
		margin: 20px 40px;
	}
	.navbar .navbar-nav li a.nav-link {
		padding: 15px 40px;
	}		
	.navbar .navbar-nav li.user-login a.nav-link, .navbar .navbar-nav li.user-login a.dropdown-toggle {
		padding: 10px 40px;
		width: 100%;
		height: auto;
	}
	.owl-dots {
		display: none;
	}
	section.explore-new-brands3 {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.custom-plan-box {
		border-top: none;
		padding-top: 0;
		margin-top: 0;
	}
	.custom-plan-box .bordered-box .btn {
		float: left;
	}
	.dropdown-menu {
		display: none;
	}
	.knowledge-base-block {
		padding: 0;
	}
	.singular-contact-us {
		margin-top: -50px;
	}
	.singular-simple-pricing .row .col-lg-6:last-child .bordered-box {
		margin: 30px 0;
	}
	.singular-contact-us form {
		margin-top: 30px;
	}
	.nav-tabs {
		margin-right: -30px;
		overflow-x: scroll;
		overflow-y: visible;
		display: block;
		white-space: nowrap;
	}
	.nav-tabs li {		
    display: inline-block;
    width: auto;
	}
	 .nav-tabs li a {
	 	padding: 0 20px 15px;
	 }
	.nav-tabs li a:after {
		bottom: 0;
	}
	.nav-tabs::-webkit-scrollbar { 
		width: 0 !important 
	}
	.nav-tabs { 
		overflow: -moz-scrollbars-none;
	}
	.top-banner-bg {
		background-image: url(../images/mobile-banner-left.svg), url(../images/mobile-banner-right.svg);
		background-repeat: no-repeat;
    background-size: 600px auto, 120px auto;
    background-position: 0 100%, 105% -5px;
	}
	.home-banner {
		background-image: none;
	}
}

@media screen and (max-width:575px) {
	body {
		font-size: 14px;
	}
	.container {
		padding-left: 40px;
		padding-right: 40px;
	}
	h1 {
	  font-size: 40px;
	  line-height: 46px;
	}
	.singular-banner, .about-banner {
		padding: 80px 0;
	}
	.singular-banner span {
		margin-top: 15px;
		font-size: 14px;
	}
	.singular-banner h2, .singular-banner h4 {
		font-size: 20px;
		line-height: 26px;
	}
	.singular-banner p {
		font-size: 18px;
		line-height: 26px;
	}
	.about-banner p, p{
		font-size: 14px;
    line-height: 22px;
	}
	
	.singular-banner p, .singular-banner h4 {
		padding-top: 0;
	}
	.singular-banner p {
		padding: 10px 0 15px;
	}
	.about-banner p {
		padding-bottom: 10px;
	}
	.about-banner .singular-image-wrap {
		margin-top: 20px;
	}
	.singular-trusted-industry [class*="col-"] {
		-ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    max-width: 33.333%;
    padding-bottom: 30px;
	}
	.singular-trusted-industry h6 {
		font-size: 12px;
		padding-bottom: 30px;
	}
	.singular-trusted-industry {
		padding-bottom: 50px;
	}
	.singular-section-title h2 {
		font-size: 24px;
		line-height: 32px;
	}
	.singular-our-team .singular-section-title {
		padding-bottom: 20px;
	}
	.singular-our-team .singular-section-title h2 {
		font-size: 24px;
		line-height: 30px;
	}
	.singular-our-team h6 {
		font-size: 16px;
	}
	.singular-our-team .team-mate span {
		font-size: 12px;
	}
	.singular-our-team [class*="col-"] {
		padding-bottom: 30px;
	}
	.singular-our-team {
		padding-top: 20px;
		padding-bottom: 60px;
	}
	.red-box-info {
		padding: 50px 25px;
	}
	.red-box-info h4 {
		font-size: 40px;
		line-height: 46px;
	}
	.form-control {
		height: 44px;
		font-size: 12px;
		padding: 5px 15px;
	}
	form button, .red-box-info form button span {
		height: 44px;
		font-size: 16px;
		padding: 5px;
	}
	.red-box-info span {
		font-size: 12px;
		line-height: 21px;
		display: inline-block;
		padding-right: 40px;
	}
	br {
		display: none;
	}
	form button {
		margin-top: 8px;
	}
	.singular-join-maillist {
		padding: 0 0 50px;
	}
	footer [class*="col-"] {
		-ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
	}
	.singular-back-top {
		right: -30px;
	}
	.singular-back-top a {
		border-radius: 0;
	}
	footer h6 {
		font-size: 14px;
		margin-bottom: 0;
	}
	.singular-copyright {
		margin-top: 20px;
	}
	.logo-wrap a {
		height: auto;
		padding: 30px 20px;
	}
	.logo-wrap a img {
		width: 35px;
	}
	.integrations-block .row {
		margin: 0 -7px;
	}
	.integrations-block [class*="col-"] {
		padding: 0 7px 15px;
	}
	.singular-simple-pricing .bordered-box h4, .custom-plan-box .bordered-box h4 {
		font-size: 26px;
		line-height: 30px;
	}
	.singular-simple-pricing .btn, .join-great-compaines .custom-plan-box .bordered-box .btn {
		margin-top: 20px;
		font-size: 18px;
	}
	.integrations-block form button {
		top: 10px;
		right: 15px;
	}
	.integrations-block form button img {
		width: 20px;
	}
	.knowledge-base-block .academy-box {
		height: auto;
		padding: 40px 30px;
	}
	.knowledge-base-block .academy-box img {
		width: 50px;
	}
	body .knowledge-base-block h3 {
		font-size: 12px;
		margin-bottom: 0;
	}
	.knowledge-base-block {
		margin-top: -20px;
	}
	.singular-contact-us h2 {
		font-size: 28px;
		line-height: 40px;
	}
	.singular-contact-us .container {
		padding: 0 40px;
		border: none;
	}
	.singular-contact-us .container .row {
		padding: 50px 0;
		border-top: 4px solid #FF6363;
		margin-top: 20px;
	}
	.singular-contact-us form {
		padding: 30px 30px 20px;
	}
	.singular-contact-us form .btn {
		height: auto;
		padding: 9px 20px;
		font-size: 16px;
	}
	.singular-contact-us form .form-control {
		font-size: 14px;
	}
	.singular-contact-us form .form-control {
		height: 70px;
	}
	.singular-contact-us form textarea.form-control {
		height: 100px;
	}
	.inner-banner .singular-align-wrap span a {
		display: inline-block;
		font-size: 14px;
		margin-top: -20px;
	}
	.singular-academy-listing .singular-section-title h2 {
		font-size: 24px;
	}
	.singular-academy-listing .singular-section-title h2 a {
		display: none;
	}
	.singular-academy-listing h3 {
		font-size: 18px;
		margin: 15px 0 50px;
	}
	.academy-box {
		height: 360px;
	}
	.singular-academy-listing .academy-box img {
		width: 150px;
	}
	.singular-banner .btn {
		font-size: 16px;
		padding: 9px 20px;
	}
	.singular-video-wrap img {
		width: 250px;
	}
	.singular-video-wrap {
		width: 85%;
	}
	.play-icon {
		top: 20px;
		right: 20px;
	}
	.singular-video-wrap .play-icon img {
		width: 40px;
	}
	.singular-box-info h3 {
		font-size: 24px;
		line-height: 36px;
		margin: 30px 0 0;
	}
	.singular-box-info img {
		width: 150px;
	}
	.singular-industry-leaders blockquote {
		font-size: 24px;
    line-height: 32px;
    margin-bottom: 0;
	}
	.singular-leader-info {
		padding-top: 30px;
	}
	.singular-industry-leaders h5, .singular-leader-info h6, .singular-leader-info span {
		font-size: 16px;
		line-height: 22px;
	}
	.singular-leader-info .right-content img {
		width: 85px;
	}
	.singular-industry-leaders h5 {
		margin-bottom: 10px;
	}
	.singular-industry-leaders .singular-image-wrap {
		position: absolute;
		bottom: 50px;
		right: 40px;
		z-index: 1;
	}
	.singular-industry-leaders .singular-image-wrap img {
		width: 50px;
	}
	.singular-industry-leaders {
		position: relative;
	}
	.singular-industry-leaders [class*="col-"] {
		position: inherit;
	}
	.singular-industry-leaders {
		padding-bottom: 110px;
	}
	.singular-box-info {
		padding: 50px 25px;
	}
	.singular-simple-pricing {
		padding: 50px 0;
	}
	.singular-simple-pricing .bordered-box {
		padding: 40px 35px 30px;
	}
	.singular-simple-pricing .bordered-box big {
		font-size: 40px;
	}
	.singular-simple-pricing .bordered-box ul.bullet-list {
		margin: 15px 0 0;
	}
	.singular-simple-pricing .btn {
		margin: 15px 0;
	}
	ul.bullet-list li {
		padding-bottom: 10px;
		font-size: 14px;
	}
	.singular-simple-pricing .bordered-box p {
		margin-bottom: 10px;
	}
	.singular-simple-pricing .bordered-box {
		margin-bottom: 40px;
	}
	.custom-plan-box .bordered-box .btn {
		min-width: inherit;
		width: auto;
		padding: 10px 20px;
		margin-top: 20px;
	}
	.navbar .navbar-nav li a.nav-link {
		font-size: 14px;
	}
	.owl-carousel .owl-stage-outer {
	  overflow: visible;
	}
	.singular-section-title p {
		padding-bottom: 0;
	}
	.singular-section-title span {
		font-size: 12px;
		padding: 5px 15px;
	}
	.singular-section-title a {
		font-size: 14px;
		margin-top: 15px;
		display: inline-block;
	}
	.custom-plan-box span {
		font-size: 12px;
		line-height: 20px;
	}
	
	.inner-banner p {
		font-size: 13px;
		line-height: 22px;
	}
	.inner-banner {
		padding-bottom: 20px;
	}
	footer {
		padding: 60px 0 30px;
	}
	.join-great-compaines {
		padding-top: 0;
	}
	.singular-contact-us .form-group {
		margin-bottom: 15px;
	}
	.integrations-block .academy-box img {
		width: 60px;
		height: 60px;
		object-fit: contain;
	}
	.mate-info a {
		margin: 5px;
	}
	.explore-new-brands3 .singular-section-title {
		padding-bottom: 15px;
	}
	.singular-simple-pricing .btn-block span {
		font-size: 11px;
	}
	input[placeholder], [placeholder], *[placeholder] {
		color: #000000 !important;
	}
	.integrations-block {
		padding-bottom: 50px;
	}
	.join-great-compaines {
		padding-bottom: 0;
	}
	.singular-simple-pricing .row .col-lg-6:last-child .bordered-box {
		margin: 0 0 40px;
	}
	.top-banner-bg{
    background-position: 0 100%, 115% -5px;
	}
}

@media screen and (max-width:479px) {
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}
	.singular-brands-reach.explore-new-brands .col-lg-6 [class*="col-"] {
		padding: 0 5px 15px;
	}
	.singular-video-wrap img {
		width: 200px;
	}
}

@media screen and (max-width:369px) {
	.singular-simple-pricing .bordered-box {
		padding: 40px 25px 30px;
	}
	.red-box-info h4 {
		font-size: 36px;
		line-height: 43px;
	}
	.mate-info a {
		width: 25px;
    height: 25px;
    margin: 2px;
	}
	.mate-info a img {
		width: 16px;
		height: 16px;
	}
	.btn {
		min-width: inherit;
	}
}